<ion-view view-title="Notifications">
  <ion-content>
      
    <ion-list>
      <ion-item ng-repeat="beacon in inRangeBeacons">
        <h2>Advert in range</h2>
        <p ng-if="beacon.proximity === 'ProximityImmediate'">Next to you</p>
        <p ng-if="beacon.proximity === 'ProximityNear'">Close by</p>
        <p ng-if="beacon.proximity !== 'ProximityNear' && beacon.proximity !== 'ProximityImmediate'">Far away</p>
      </ion-item>
      <ion-item ng-repeat="notification in notifications">
        <h2>notification.title</h2>
        <p>{{notifcation.description}}</p>
      </ion-item>        
    </ion-list> 
      
      <div ng-if="getNotificationsLength() <= 0" class="empty-container">
          <i class="icon ion-android-notifications"></i>
          <p>No notifications</p>
      </div>
      
      
      
  </ion-content>
</ion-view>
