<ion-view view-title="Notifications">
  <ion-content>
    <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="getNotifications()">
    </ion-refresher>        
    <ion-list>
      <ion-item ng-repeat="notification in notifications" ng-class="{'item-thumbnail-left':notification.advert.id}" ng-click="getAdvert($index)">
        <img ng-if="notification.advert.id" ng-src="{{notification.advert.image}}">
        <h2>
            <span ng-if="!notification.advert.id">Advert in range</span>
            <span ng-if="notification.advert.id">{{notification.advert.name}} advert in range</span>
        </h2>
        <p ng-if="notification.proximity === 'ProximityImmediate'">Next to you</p>
        <p ng-if="notification.proximity === 'ProximityNear'">Close by</p>
        <p ng-if="notification.proximity !== 'ProximityNear' && notification.proximity !== 'ProximityImmediate'">Far away</p>
      </ion-item>      
    </ion-list> 
      
      <div ng-if="getNotificationsLength() <= 0" class="empty-container">
          <i class="icon ion-android-notifications"></i>
          <p>No notifications</p>
      </div>
      
      
      
  </ion-content>
</ion-view>
