<ion-view view-title="Drag">
  <ion-content scroll="false">
      <div class="drag-container">
            <div ng-if="getBeaconCount() < 1 || loading">
                <ion-spinner class="spinner-assertive"></ion-spinner><br>
              Searching...
            </div>          
            <div ng-if="getBeaconCount() > 0 && !loading && stage === 1">
              <img src="img/drag2.png"/>
              <p>
                  Hold your phone up
              </p>
            </div>
            <div ng-if="getBeaconCount() > 0 && !loading && stage === 2">
              <img src="img/drag2.png"/>
              <p>
                  Drag phone towards you
              </p>
            </div>          
      </div>
      
  </ion-content>
</ion-view>
