# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
/www/lib/ionic/scss
/scss/ionic.app.scss
/www/lib/angular-animate/.bower.json
/www/lib/angular-animate/README.md
/www/lib/angular-animate/angular-animate.js
/www/lib/angular-animate/angular-animate.min.js
/www/lib/angular-animate/angular-animate.min.js.map
/www/lib/angular-animate/bower.json
/www/lib/angular-animate/index.js
/www/lib/angular-animate/package.json
/www/lib/angular-sanitize/.bower.json
/www/lib/angular-sanitize/README.md
/www/lib/angular-sanitize/angular-sanitize.js
/www/lib/angular-sanitize/angular-sanitize.min.js
/www/lib/angular-sanitize/angular-sanitize.min.js.map
/www/lib/angular-sanitize/bower.json
/www/lib/angular-sanitize/index.js
/www/lib/angular-sanitize/package.json
/www/lib/angular-ui-router/.bower.json
/www/lib/angular-ui-router/CHANGELOG.md
/www/lib/angular-ui-router/CONTRIBUTING.md
/www/lib/angular-ui-router/LICENSE
/www/lib/angular-ui-router/README.md
/www/lib/angular-ui-router/api/angular-ui-router.d.ts
/www/lib/angular-ui-router/bower.json
/www/lib/angular-ui-router/release/angular-ui-router.js
/www/lib/angular-ui-router/release/angular-ui-router.min.js
/www/lib/angular-ui-router/src/common.js
/www/lib/angular-ui-router/src/resolve.js
/www/lib/angular-ui-router/src/state.js
/www/lib/angular-ui-router/src/stateDirectives.js
/www/lib/angular-ui-router/src/stateFilters.js
/www/lib/angular-ui-router/src/templateFactory.js
/www/lib/angular-ui-router/src/urlMatcherFactory.js
/www/lib/angular-ui-router/src/urlRouter.js
/www/lib/angular-ui-router/src/view.js
/www/lib/angular-ui-router/src/viewDirective.js
/www/lib/angular-ui-router/src/viewScroll.js
/www/lib/angular/.bower.json
/www/lib/angular/README.md
/www/lib/angular/angular-csp.css
/www/lib/angular/angular.js
/www/lib/angular/angular.min.js
/www/lib/angular/angular.min.js.gzip
/www/lib/angular/angular.min.js.map
/www/lib/angular/bower.json
/www/lib/angular/index.js
/www/lib/angular/package.json
