  <ion-modal-view>
	<ion-header-bar class="bar-assertive">
		<h1 class="title modal-title">{{advert.name ? advert.name : "No advert found"}}</h1>
		<div class="button modal-button" ng-click="advertModal.hide()"><span class="icon ion-close"></span></div>
	</ion-header-bar>
    <ion-content class="advert-page">
        <div class="advert-container">
            <img ng-show="advert.image" ng-src="{{advert.image}}"/>

            
        </div>
     
    </ion-content>
            <span class="advert-share-button" ng-click="doAction('share')">
                <i class="icon ion-android-share-alt"></i>
            </span>         
<div class="bar bar-footer advert-action-bar">
    <button class="button button-assertive" ng-disabled="!advert.phone" ng-click="doAction('phonepopup')"><i class="icon ion-ios-telephone"></i></button>
    <button class="button button-energized" ng-disabled="!advert.link" ng-click="doAction('link')"><i class="icon ion-link"></i></button>
    <button class="button button-balanced" ng-disabled="!advert.location" ng-click="doAction('location')"><i class="icon ion-ios-location"></i></button>
    <button class="button button-positive" ng-disabled="!advert.description && !advert.company && !advert.category" ng-click="doAction('info')"><i class="icon ion-information-circled"></i></button>
</div>      
  </ion-modal-view>
