  <ion-modal-view>
	<ion-header-bar class="bar-dark">
		<h1 class="title modal-title">{{advert.name ? advert.name : "Looking for a Grab Ad"}}</h1>
		<div class="button modal-button" ng-click="advertModal.hide()"><span class="icon ion-close"></span></div>
	</ion-header-bar>
        <ion-content class="advert-page">
            <div ng-if="!advert.id && !loadingAdvert" class="empty-container">
                <i class="icon ion-alert-circled"></i>
                <p>Sorry, we could not grab that ad</p>
            </div>     
            <div ng-if="loadingAdvert" style="text-align:center;margin-top:10px;">
                <ion-spinner class="spinner-assertive"></ion-spinner>
            </div>              
            
            <div class="advert-container">
                <img ng-show="advert.image" ng-src="{{advert.image}}"/>


            </div>

        </ion-content>
        <span class="advert-share-button" ng-click="doAction('share')"  ng-show="advert.id && !loadingLinks">
            <i class="icon ion-android-share-alt"></i>
        </span>         
        <div class="bar bar-footer advert-action-bar" ng-class="{'links-disabled': loadingLinks}">
            <button class="button button-assertive" ng-disabled="!advert.phone || loadingLinks" ng-click="doAction('phonepopup')" aria-label="Phone"><i class="icon ion-ios-telephone"></i></button>
            <button class="button button-energized" ng-disabled="!advert.link || loadingLinks" ng-click="doAction('link')" aria-label="Website Link"><i class="icon ion-link"></i></button>
            <button class="button button-balanced" ng-disabled="!advert.location || loadingLinks" ng-click="doAction('location')" aria-label="Location"><i class="icon ion-ios-location"></i></button>
            <button class="button button-positive" ng-disabled="(!advert.description && !advert.company && !advert.category)  || loadingLinks" ng-click="doAction('info')" aria-label="More Information"><i class="icon ion-information-circled"></i></button>
        </div>      
  </ion-modal-view>
