/*general styles*/
.bar.bar-dark{
    background-color:black;
}
.title-image{
        width: auto;
    height: 43px;
    padding:5px;
}

ion-tabs .tab-item[icon-on="ion-iphone"]{
    height: 80px;
    margin-top: -30px;
    line-height: 10px;
    background-color: #f8f8f8;
    border: 1px solid #b2b2b2;    
        opacity: 1;
    color: rgba(68, 68, 68, 0.7);
}

ion-tabs .tab-item[icon-on="ion-iphone"] i{
        height: 60px;
    font-size: 60px;
}

ion-tabs .tab-item[icon-on="ion-iphone"] span{
        font-size: 14px;
}

.empty-container{
    text-align: center;
    color: #ccc;
    margin-top: 100px;
}
.empty-container i{
    font-size: 100px;
}

.empty-container p{
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
}
.button.disabled, .button[disabled]{
    opacity:0.2;
}

.bar-footer {
 background-color:black;
     background-image: none;
}
/*notification styles*/



/*drag styles */

.drag-container {
    text-align:center;
    margin-top:80px;
}

.drag-container img{
    max-width:50%;
}

.drag-container p{
    font-size:16px;
    text-transform:uppercase;
    color:#ccc;
    padding:10px;
}
.advert-action-bar{
    padding:0px;
}
.advert-action-bar button{
    width: 25%;
    border-radius: 0px;
}

.bar.advert-action-bar > .button + .button:last-child{
    height: 100%;
    top: 0px;  
    right: 0px;
}

.advert-container{
        height: 100%;
        text-align:center;
}

.advert-container img{
        max-width: 100%;
        margin-bottom: 44px;
}

.advert-share-button{
position: absolute;
    bottom: 55px;
    right: 15px;
    font-size: 25px;
    text-transform: uppercase;
    color: rgba(169, 169, 169, 0.9);

}

.advert-link-overlay{
    position: absolute;
    color: rgba(169, 169, 169, 0.9);
    z-index: 99;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    height: 45px;
    bottom: 0px;
    left: 0px;    
}

.links-disabled{
    pointer-events: none;
}

.advert-share-button.activated{
 color:#444;   
}

.advert-page .scroll{
    min-height:100%;
}

@keyframes zoomin {
  from {
    transform: rotateX(60deg) scale(0.6);
  }

  to {
    transform: rotateX(0deg) scale(1);
  }
}

.zoom-animation {
  animation-duration: 1s;
  animation-name: zoomin;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

@keyframes standin {
  from {
    transform: rotateX(60deg);
  }

  to {
    transform: rotateX(0deg);
  }
}

.stand-animation {
  animation-duration: 3s;
  animation-name: standin;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.popup-body{
        text-align: center;
}



/*records styles */

.item-thumbnail-left{
    padding-left:80px
}

.item-thumbnail-left > img:first-child{
        width: auto;
        max-width:60px;
}